//!<Подключаем шрифты>======================================================================================
// Convert fonts: https://transfonter.org/
// font-weight:100-thin,200-UltraLite,300-light,400-normal-regular,500-medium,600-semibold,700-bold,800-Heavy,900-black
//&display=swap&subset=cyrillic-ext
//!</Подключаем шрифты>=====================================================================================

@mixin font($font_name, $file_name, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font_name}";
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
    src: url("~/assets/fonts/#{$file_name}.woff") format("woff");
  }
}

@include font("Proxima Nova", "Proxima Nova Bold", 700);
@include font("Proxima Nova", "Proxima Nova Bold Italic", 700, italic);
@include font("Proxima Nova", "Proxima Nova Extrabold", 800);
@include font("Proxima Nova", "Proxima Nova Regular", 400);
@include font("Proxima Nova", "Proxima Nova Regular Italic", 400, italic);
@include font("Proxima Nova", "Proxima Nova Semibold", 600);
@include font("Proxima Nova", "Proxima Nova Semibold Italic", 600, italic);
