$fontFamily: "Proxima Nova";

html,
body {
  height: 100%;
  font-family: $fontFamily, sans-serif;
  font-style: normal;

  &._lock {
    overflow: hidden;
    padding-right: 17px;

    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }
}
